<h3>Панель управления</h3>
<ul class="nav nav-tabs">
    <li class="active"><a href="#admin_main" data-toggle="tab" aria-expanded="true">Настройки </a></li>
    <li class=""><a href="#admin_info" data-toggle="tab" aria-expanded="false">Информация</a></li>
    <li class=""><a href="#admin_tasks" data-toggle="tab" aria-expanded="false">Задачи</a></li>
    <li class=""><a href="#admin_repo" data-toggle="tab" aria-expanded="false">Репозиторий</a></li>
    <li class=""><a href="#admin_news" data-toggle="tab" aria-expanded="false">Новости</a></li>
</ul>