    {{text}}

    <modal title="Add task" visible="showModalTask">
        <form name="addtask" role="form" novalidate>
            <h1>Project: {{project.Name}}</h1>
            <div class="form-group">
                <label for="Perfomer">Perfomer</label>
                <select class="form-control" id="Perfomer" ng-model="formTask.AssignedTo" required>
                    <option ng-repeat="user in users">{{user}}</option>
                </select>
                <label for="Name">Task Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Name" ng-model="formTask.TaskText" required />
                <label for="Priority">Task Priority</label>
                <select class="form-control" id="Priority" ng-model="formTask.TaskPriority">
                    <option>high</option>
                    <option>middle</option>
                    <option>low</option>
                </select>
                <label for="Description">Task Description</label>
                <input type="text" class="form-control" id="Description" placeholder="Description" ng-model="formTask.TaskDescription" />
                <label for="Comment">Comment</label>
                <input type="text" class="form-control" id="Comment" placeholder="Comment" ng-model="formTask.TaskComment" />
                <label for="Deadline">Deadline Time</label><br>
                <input type="datetime" date-time ng-model="formTask.TaskDateDeadline" id="Deadline" required>
            </div>
            <button type="submit" class="btn btn-default" ng-click="addtask.$valid && saveTask()" ng-show="addtask.$valid">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Add Task</button>
        </form>
    </modal>